.bg-light {
 background-color: #f5f7fa;
}

.alert-box {
 background-color: #fff3cd;
 color: #d8a407;
}

/* Card general */
.asignatura-card {
 background-color: #ffffff;
 border-radius: 8px;
 padding: 1.2rem;
 margin-bottom: 1.5rem;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
 transition: box-shadow 0.2s ease;
}

.asignatura-card:hover {
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
}

/* Encabezado de asignatura */
.asignatura-header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin-bottom: 1rem;
}

.asignatura-header label {
 font-weight: 600;
 color: #333;
 margin-right: 0.5rem;
}

.asignatura-header span,
.asignatura-header a {
 font-weight: 500;
 color: #007bff;
 text-decoration: none;
}

.asignatura-header a:hover {
 text-decoration: underline;
}

/* Dropdown moderno */
.form-select {
 appearance: none;
 background-color: #f8f9fa;
 border: 1px solid #ccc;
 border-radius: 6px;
 padding: 0.5rem 1rem;
 font-size: 0.95rem;
 width: 100%;
 transition: border-color 0.2s ease;
}

.form-select:focus {
 border-color: #007bff;
 outline: none;
 background-color: #fff;
}

/* NOMBRES ASIGNATURAS */

.asignatura-link {
 color: #007bff;
 font-weight: 500;
 text-decoration: none;
 transition: color 0.2s ease;
}

.asignatura-link:hover {
 color: #000000;
 text-decoration: underline;
}


/* Detalles de correlativas */
.equiv-list {
 background-color: #f1f1f1;
 border-left: 3px solid #ffc107;
 padding: 0.5rem 1rem;
 margin-top: 0.5rem;
 border-radius: 4px;
}


.border-left-warning {
 border-left: 8px solid #ffc107
}

.none {
 display: none;
}

.btn-sm {
 padding: 0.25rem 0.5rem;
 font-size: 0.875rem;
}

.max-w-100p {
 max-width: 100%;
}

.equiv-list {
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.3s ease;
 padding: 0;
 /* importante */
 margin: 0;
 /* importante */
}

.equiv-list.expanded {
 max-height: 500px;
 /* ajustable */
 padding: 0.5rem 1rem;
 margin-top: 0.5rem;
}


/* FLECHA ROTA */

.chevron {
 transition: transform 0.3s ease;
 cursor: pointer;

}

.chevron.rotated {
 transform: rotate(180deg);
}


/* Boton ayuda */

.btn-ayuda {
 position: fixed;
 bottom: 20px;
 right: 20px;
 background-color: #150a5c;
 color: white;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 font-size: 1.5rem;
 border: none;
 cursor: pointer;
 box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
 z-index: 1000;
}

.modal-ayuda {
 position: fixed;
 bottom: 80px;
 right: 20px;
 width: 300px;
 background: white;
 border: 1px solid #ccc;
 border-radius: 8px;
 padding: 1rem;
 box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
 z-index: 1000;
}

.modal-content h3 {
 margin-top: 0;
 font-size: 1.1rem;
 margin-bottom: 0.5rem;
}

.btn-close {
 margin-top: 1rem;
 background-color: #dc3545;
 color: white;
 border: none;
 padding: 0.5rem 1rem;
 border-radius: 4px;
 cursor: pointer;
}